swagger: "2.0"
info:
  description: "."
  version: "0.0.1"
  title: "Authentication Service"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "prajakt.shastry@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "placeholder.dreamize.com"
basePath: "/v1"
tags:
- name: "auth"
  description: "Authentication service"
  externalDocs:
    description: "None yet"
    url: "https://placeholder.dreamize.com"
schemes:
- "https"
paths:
  /auth/signin:
    post:
      tags:
      - "auth"
      summary: "Verify user credentials"
      description: "This checks if the user credentials are valid"
      operationId: "signInUser"
      consumes: 
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "user"
        description: "Verify user object"
        required: true
        schema:
          $ref: "#/definitions/UserCredentials"
      responses:
        '200':
          description: "User authenticated successfully" 
          schema:
            $ref: "#/definitions/UserToken"
              
                
                
                
                  
definitions:
  UserCredentials:
    type: "object"
    properties:
      username:
        type: "string"
      password:
        type: "string"
    xml:
      name: "UserCredentials"
  UserToken:
    type: "object"
    properties:
      username:
        type: "string"
      token:
        type: "string"
    xml:
      name: "UserToken"
  